<div class="header-menu">
    <a (click)="layout.toggleCollapsed()" matTooltip="Mostrar/Ocultar menú" [class.active]="layout.collapsed" class="clickable">
        <i class="fas fa-bars fa-3x"></i>
    </a>
    <img src="../../assets/images/logo-sek-white.svg" alt="logotipo SEK">
    <span>My<b>SEK</b></span>
</div>




<mat-form-field>
    <!-- <mat-icon matPrefix>search</mat-icon> -->
    <mat-icon matSuffix>search</mat-icon>
    <input matInput placeholder="Buscar" value="">
</mat-form-field>

<div class="header-user">
    <menu-apps></menu-apps>
    <img src="../../assets/images/profile-user.png">
    <div>
        <h4>Hola, Alicia Rivas</h4>
        <h5>SEK Cuidalcampo</h5>
    </div>
</div>

<div class="header-settings">
    <app-notifications></app-notifications>
    <a><i class="fas fa-cog fa-2x"></i></a>
    <a class="clickable" matTooltip="Pantalla completa" (click)="layout.toggleFullscreen()"><i class="fa-2x fas fa-expand"></i></a>
    <a><i class="fas fa-power-off fa-2x"></i></a>
</div>