@mixin theme($font-color, $background-color) {
    color: $font-color;
    background-color: $background-color;
    .mat-form-field {
        width: 400px;
        .mat-form-field-label-wrapper {
            color: $font-color;
        }
        .mat-form-field-underline {
            background-color: $font-color;
        }
        .mat-input-element {
            caret-color: $font-color;
        }
        .mat-form-field-label {
            color: #ccc;
            font-style: italic;
        }
    }
    @media (max-width: 1199.98px) {
        .mat-form-field {
            width: 250px;
        }
    }
    @media (max-width: 767.98px) {
        .mat-form-field {
            display: none;
        }
    }
}