<a class="fa-layers fa-fw" (click)="toggle()">
    <i class="far fa-bell fa-2x"></i>
    <span class="fa-layers-counter fa-2x">2</span>
</a>
<div class="notifications-container">
    <h3 matBadge="4" class="d-inline-block" matBadgeColor="accent">Notificaciones</h3>
    <perfect-scrollbar [config]="{suppressScrollX: false}">
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras in dignissim ipsum. Fusce sed viverra felis. Phasellus tristique nisl non cursus aliquam. Fusce dignissim venenatis augue, lacinia efficitur lorem convallis a. Vivamus sem neque, viverra at
            enim id, dignissim consectetur lectus. Donec id velit pellentesque, feugiat ipsum non, congue neque. Interdum et malesuada fames ac ante ipsum primis in faucibus. Donec in semper dolor. Nulla neque ex, lacinia mollis mi ac, dictum gravida
            dolor. Integer aliquet elit sed metus blandit ullamcorper. Maecenas viverra varius libero id efficitur.
        </p>
        <p>
            Sed rutrum mauris nec ex aliquam, id ullamcorper quam lobortis. Aenean nec nisi lacus. Nulla nec nibh vitae lacus fermentum tristique aliquet at enim. Phasellus sit amet mi efficitur, vestibulum dolor non, tempus ipsum. Aenean nisi purus, mattis in feugiat
            sagittis, ultricies ac orci. Donec varius metus eget enim facilisis, vel auctor sapien finibus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
        </p>
        <p>
            Vivamus sagittis lorem nisl, non laoreet purus luctus eu. Vestibulum ultrices laoreet massa, a consequat mauris. Integer rutrum eu libero id rutrum. Integer molestie fringilla felis, sed ultrices lacus tristique id. Nulla eget felis id elit lobortis tristique.
            Nulla facilisi. Mauris et tellus sollicitudin, cursus enim ac, tincidunt velit. Duis consequat sodales magna, eu congue nunc feugiat eu. Donec diam nisi, scelerisque non libero eget, egestas porta arcu. Sed volutpat sodales sapien, sollicitudin
            molestie quam laoreet quis. Proin eu sem ac ante mollis posuere. Integer eget porta nisl, id hendrerit lorem. Integer a sapien ultricies, lobortis orci vestibulum, vulputate nunc.
        </p>
        <p>
            Nullam cursus, mauris non faucibus laoreet, purus sapien iaculis massa, vitae consectetur augue enim nec arcu. Nam placerat, nunc ac interdum pellentesque, lacus ligula vehicula sapien, a suscipit libero enim ut elit. Morbi sit amet lorem venenatis, malesuada
            dui ut, commodo ex. Nam aliquet fermentum nibh, vehicula mollis erat dictum ut. Proin bibendum quam eget mauris sollicitudin aliquet ut non odio. Curabitur ut nisi nec erat accumsan ultrices. Phasellus magna elit, ultrices vel facilisis vitae,
            scelerisque vitae urna. Etiam fermentum tellus ac blandit facilisis. Maecenas congue fringilla pharetra. Phasellus ultricies dolor id tellus malesuada pulvinar. Etiam ex lacus, ullamcorper vel dignissim vitae, mollis ut odio. Fusce lectus
            ipsum, mattis porta libero et, blandit tincidunt urna.
        </p>
        <p>
            Maecenas imperdiet ex sapien, at dapibus neque pellentesque ullamcorper. Sed urna justo, faucibus id dictum nec, pellentesque in mauris. Nunc finibus vestibulum turpis, a vulputate lacus euismod non. Ut non mauris at nisi lacinia suscipit. Donec quis
            urna eleifend, tincidunt lacus ac, finibus ligula. Donec euismod mollis risus eget tristique. Praesent pretium augue quis dictum tincidunt. Cras neque nibh, pellentesque sed erat id, molestie pulvinar sem. Etiam euismod elit at ipsum volutpat
            luctus. Aliquam aliquam posuere lectus, et sodales sapien auctor et.
        </p>
    </perfect-scrollbar>
</div>