<a class="fa-layers fa-fw" (click)="toggle()">
    <i class="far fa-bell fa-2x"></i>
    <span class="fa-layers-counter fa-2x">2</span>
</a>
<div class="notifications-container">
    <h3 matBadge="2" class="d-inline-block" matBadgeColor="accent">Notificaciones</h3>
    <perfect-scrollbar [config]="{suppressScrollX: false}">
        <h5><strong>Notificación 1</strong></h5>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras in dignissim ipsum. Fusce sed viverra felis. Phasellus tristique nisl non cursus aliquam. Fusce dignissim venenatis augue, lacinia efficitur lorem convallis a. Vivamus sem neque, viverra at
            enim id, dignissim consectetur lectus.
        </p>
        <hr>
        <h5><strong>Notificación 2</strong></h5>
        <p>
            Sed rutrum mauris nec ex aliquam, id ullamcorper quam lobortis. Aenean nec nisi lacus. Nulla nec nibh vitae lacus fermentum tristique aliquet at enim. Phasellus sit amet mi efficitur, vestibulum dolor non, tempus ipsum.
        </p>
        <hr>
        <h5><strong>Notificación 3</strong></h5>
        <p>
            Vivamus sagittis lorem nisl, non laoreet purus luctus eu. Vestibulum ultrices laoreet massa, a consequat mauris. Integer rutrum eu libero id rutrum. Integer molestie fringilla felis, sed ultrices lacus tristique id.
        </p>

    </perfect-scrollbar>
</div>