@import "../scss/variables.scss";

app-root {
    display: block;
    overflow: hidden;
    width: 100%;
    height: calc(100vh - #{$topBarHeight});

    perfect-scrollbar {
        z-index: 10;
        height: calc(100vh - #{$topBarHeight});
        max-height: calc(100vh - #{$topBarHeight});
    }

    .layout {
        width: 100%;
        display: grid;
        grid-template-columns: $leftBarWidth auto;

        &.collapsed {
            grid-template-columns: $leftBarCollpasedWidth auto;
        }

        >* {
            display: flex;
        }

        dashboard-page {
            transition: width linear 1s;
        }
    }
}