@import "../../scss/media.scss";

office-apps {
  display: inline-block;
  margin: 0;

  ul {
    list-style: none;
    display: grid;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;

    @include media(">=tablet", "landscape") {
      flex-direction: row;
      font-size: 1rem;
      grid-template-columns: repeat(4, 25%);
      grid-gap: .25rem;
    }

    > li {
      text-align: center;
      flex-grow: 1;
      flex-shrink: 1;
      flex-basis: 0;
      display: flex;
      border-radius: 0.25rem;

      &:hover {
        cursor: pointer;
        img {
          //border-radius: 50%;
          box-shadow: 2px 2px .25rem rgba(0, 0, 0, 0.3);
        }
      }

      img {
        transition: all linear .25s;
        border-radius: .25rem;
      }

      @include media(">=tablet", "landscape") {
        flex-direction: column;
        //height: 4rem;
        img {
          width: 40%;
          margin: 0.5rem auto;
        }
      }

      strong {
        text-align: center;
        display: block;
        //background: #fff;
        color: #263746
      }
    }
  }
}
