icon-button {
    display: grid;
    grid-template-columns: 80px auto;
    padding-top: 1rem;
    padding-bottom: 1rem;
    cursor: pointer;
    border-radius: 0.25rem;
    text-align: left;
    width: 100%;
    &:hover {
        box-shadow: 0.15rem 0.15rem 0.5rem rgba(0, 0, 0, 0.3);
    }
    span {
        text-align: center;
        i {
            font-size: 3rem;
            margin: auto;
        }
        padding-top: .5rem;
        padding-bottom: .5rem;
    }
    strong {
        padding: 0.5rem 0.75rem;
        overflow: hidden;
        small {
            display: block;
            width: 100%;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }
    }
    &.purple {
        $color: #545385;
        background: $color;
        color: #fff;
        span {
            border-right: 1px solid darken($color, 10);
            i {
                color: lighten($color, 10);
            }
        }
        strong {
            border-left: 1px solid lighten($color, 10);
        }
    }
    &.cyan {
        $color: #d4e1f3;
        background: $color;
        span {
            border-right: 1px solid darken($color, 10);
            i {
                color: darken($color, 10);
            }
        }
        strong {
            border-left: 1px solid lighten($color, 10);
        }
    }
}