@import "./media.scss";
@import "./buttons.scss";
@import "./variables.scss";

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-size: 12px;
}

body {
  padding-top: $topBarHeight;
  //padding-left: $leftBarCollpasedWidth;
  font-family: Montserrat;
  color: #263746;
  background: url(/assets/images/bg/logo-rotated.png) right bottom no-repeat
    fixed;
  background-size: auto 94%;
}

legend.custom {
    font-size: 100%;
    font-weight: 600;
    
    &:after {
      content: "";
      display: block;
      width: 100%;
      height: 1px;
      border-bottom: 1px solid #ccc;
      //margin-top: -1.2rem;
      margin-bottom: 1rem;
    }
  }

.clickable {
  cursor: pointer;
}  
.x2 {
  font-size: 3rem;
}
