/*---Bars---*/

$leftBarWidth: 300px;
$leftBarCollpasedWidth: 70px;
$topBarHeight: 80px;
$notificationBarWidth: 350px;

/*---Colores---*/

$sek-orange: #F56B22;
$sek-blue: #263746;
$sek-link: #007bff;

/*---Transiciones---*/

%standardTrans {
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
}


/*Themes*/

$theme-dark-fore-color: #fff;
$theme-dark-background-color: #263746;